<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
<h1>Registration Form</h1>
<p>All Fields are Mandatory</p>

<form action="thankyou.html">
    <label for="name">Name:</label>
    <input id="name" type="text" name="username" value="" placeholder="Enter Name" required><br><br>

    <label for="email">Mail Id:</label>
    <input id="email" type="text" name="username" value="" placeholder="Enter Name" required><br><br>

    <label for="age">Age:</label>
    <input id="age" type="text" name="username" value="" placeholder="Enter Name" required><br><br>

    <h2>Are You Intrested In Dating</h2>
    <label for="yes">Yes</label>
    <input id="yes" type="radio" name="username" value="" placeholder="Enter Name" required>

    <label for="no">No</label>
    <input id="no" type="radio" name="username" value="" placeholder="Enter Name" required><br><br>
    <h2>Your Exceptions Like:</h2>
     <select name="nooOfMarriages">
         <option value="Katerina">Katerina Kaif</option>
         <option value="Kareena">Kareena Kapoore</option>
         <option value="Kajol">Kajol Agarwal</option>
         <option value="Shardha">Shardha Kapoore</option>

     </select><br><br>

    <input type="submit" name="Register">

</form></body></html>